<strong>Olá, {{ provider }}</strong>
<p>Foi registrada uma encomenda para você entregar:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br>
  <br>
  <small>
    A encomenda está disponível para a retirada.
  </small>
</p>
